{% extends 'base.html.twig' %}

{% block title %}La boutique française{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{app.user.firstName}} . C'est dans cet espace que vous allez gérer vos informations.
<hr>
{% if is_granted('ROLE_ADMIN') %}
- <a href="/admin">Vous êtes administrateur ?</a><br>{% endif %}
- <a href="{{path('app_account_password')}}">Modifier mon mot de passe</a>
<br/>
- <a href="{{path('app_account_address')}}">Gérer mes adresses</a><br/>
- <a href="{{ path('account_order') }}">Gérer mes commandes</a> 
<hr>
{% endblock %}
